.code-picture {
  width: 100%;
  position: relative;
  background-image: url("https://www.ma-no.org/img/800-300/admin-editor-code-completion.png.pagespeed.ce.2ZnV3C-E76.png");
  background-size: cover;
  height: 300px;
}
